/* GLOBAL STYLING */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0a2a;
  overflow: hidden;
  position: relative;
}

/* STARS */
.star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  animation: twinkle 3s infinite alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0.2;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1.3);
  }
}

/* SPACE AREA */
.space {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

/* EARTH AREA */

.earth {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  border-radius: 50%;

  transform: translate(-50%, -50%);
  overflow: hidden;
  background: radial-gradient(
      circle at 30% 30%,
      rgba(255, 255, 255, 0.2) 10%,
      transparent 20%
    ),
    linear-gradient(to right, #2e86c1 0%, #2e86c1 100%);
  animation: rotate-earth 10s linear infinite;
}

@keyframes rotate-earth {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 0;
  }
}
